.main-header {
  padding: 6rem 0;
  text-align: center;

  .wrapper {
    margin: 0 auto;
    max-width: 1200px;
    padding: 0 40px;
  }

  .role {
    background-color: palette(grey, light);
    display: inline-block;
    margin: 0 5px;
    padding: 5px 10px;
    vertical-align: middle;
  }
}
