$s: 0.3s;

$palettes: (
  grey: (
    light: #eee,
    base: #888,
    medium: #414141,
    dark: #444,
  ),
  blue: (
    light: #cce5ff,
    medium: #b8daff,
    base: #08c
  ),
  yellow: (
    light: #fff3cd,
    base: #ffeeba
  ),
  green: (
    light: #d4edda,
    base: #c3e6cb
  )
);

$fonts: (
  sans-serif: #{ helvetica, arial, sans-serif },
  serif: #{ Georgia, Times, serif }
);
