* {
  box-sizing: border-box;
}

html,
body {
  background: #fff;
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
}

html {
  color: palette(grey, dark);
  font-size: 10px;
}

body {
  font: 1.6rem/1.45 font(sans-serif); // 16px
}

a {
  color: palette(blue);
}

ol,
ul {
  padding-left: 0;
}

li {
  margin: 0.25em 0;
}

kbd {
  background-color: #eee;
  border-radius: 3px;
  border: 1px solid #b4b4b4;
  box-shadow:
    0 1px 1px rgba(0, 0, 0, 0.2),
    0 2px 0 0 rgba(255, 255, 255, 0.7) inset;
  color: #333;
  display: inline-block;
  font-size: 1rem;
  font-weight: 500;
  line-height: 1;
  padding: 2px 4px;
  min-width: 16px;
  text-align: center;
  white-space: nowrap;
  text-transform: uppercase;
}

::placeholder {
  opacity: 0.5;
}

.is-creation,
.is-management,
.is-dev,
.is-web,
.is-app {
  display: none;
}

.show-creation .is-creation,
.show-management .is-management,
.show-dev .is-dev,
.show-web .is-web,
.show-app .is-app {
  display: initial;
}
