html,
body {
  background: #fff;
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
}

html {
  color: palette(grey, dark);
  font-size: 10px;
}

body {
  font: 1.6rem/1.45 font(sans-serif); // 16px
}

a {
  color: palette(blue);
}

ol,
ul {
  padding-left: 2rem;
}

.is-creation,
.is-management,
.is-dev,
.is-web,
.is-app {
  display: none;
}

.show-creation {
  .is-creation {
    display: block;
  }
}

.show-management {
  .is-management {
    display: block;
  }
}

.show-dev {
  .is-dev {
    display: block;
  }
}

.show-web {
  .is-web {
    display: block;
  }
}

.show-app {
  .is-app {
    display: block;
  }
}
