h1,
h2,
h3,
h4 {
  font-weight: inherit;
  line-height: 1.2;
  margin: 1.114em 0 0.5em;

  a {
    color: currentColor;
    position: relative;
    text-decoration: none;

    &:hover {
      color: currentColor;
      text-decoration: none;

      &::before {
        content: '§';
        padding-right: 0.3em;
        position: absolute;
        right: 100%;
      }
    }
  }
}

h1 {
  background: palette(grey, medium);
  color: #fff;
  display: inline-block;
  font-size: 1.563em;
  margin: 0 0 40px;
  padding: 1em 40px;
  text-transform: uppercase;
  width: auto;
}

h2 {
  color: palette(grey);
  font-size: 2.2em;
  letter-spacing: 0.1em;
  margin-top: 0;
  text-align: center;
  text-transform: uppercase;
}

h3 {
  font-size: 1.953em;
}

h4 {
  font-size: 1.563em;
}

@media (min-width: 768px) {
  h1 {
    font-size: 2.5em;
  }

  h2 {
    font-size: 3.998em;
    letter-spacing: 0.3em;
  }

  h3 {
    font-size: 2.827em;
  }

  h4 {
    font-size: 1.999em;
  }
}
