.btn {
  @extend %reset-button;

  display: inline-block;
  font-size: 1.6rem;
  border-radius: 1em;
  text-transform: lowercase;
  font-variant: small-caps;
  letter-spacing: 1px;
  user-select: none;
  background-color: palette(grey, light);
  padding: 0.15em;
  transition: background-color $s, color $s;

  &:hover {
    color: #fff;
    background-color: palette(grey, medium);
  }

  &.btn--jira {
    display: block;
    margin: 0.5em auto;
    padding: 0.5em 0.75em;
  }

  .article:nth-child(odd) & {
    background-color: #fff;

    &:hover {
      color: #fff;
      background-color: palette(grey, medium);
    }
  }
}
